@charset "utf-8";
dl,dt,dd,ul,ol,li,form,span,a,input,p{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0)}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:14px;font-weight:normal}
ul,ol{list-style:none}
img{border:none;vertical-align:middle}
em,i,cite{font-style:normal}
input,button,textarea{outline:none;border:0;vertical-align:middle;border:0;font-family:Microsoft YaHei}
input[type="submit"],input[type="reset"],input[type="button"],button {-webkit-appearance:none;border-radius:0}
select{-webkit-appearance:none;-moz-appearance:none;appearance:none}
textarea{resize:none}
html{font-size:62.5%;-webkit-text-size-adjust:none;}
body{margin:0 auto;padding:0;font:12px/18px Microsoft YaHei;color:#333;}
body a{text-decoration:none;cursor:pointer}
body a:hover,body a:active,body a:focus{text-decoration:none;outline:none}
.clearfix:after {display:block;content:"\20";clear:both;height:0;}
